<div>
    <h1>Restaura la contraseña del usuario</h1>
    <form id="restartPasswordForm">
        <label>Correo electrónico</label>
        <input name="email">
        <label>Nueva contraseña</label>
        <input name="password" type="password">
        <input type="submit">
    </form>
</div>

<script>
    const form = document.getElementById('restartPasswordForm');
    form.addEventListener('submit', e => {
        e.preventDefault();
        const data = new FormData(form);
        const obj = {};
        data.forEach((value, key) => obj[key] = value);
        fetch('/api/sessions/restartPassword', {
            method: 'PUT',
            body: JSON.stringify(obj),
            headers: {
                'Content-Type': 'application/json'
            }
        }).then((result) => {
            if (result.status === 200) {
                window.location.replace("/login");
            }
        })
            .catch((error) => {
                console.log(error); // Capturar y manejar errores
            });
    })
</script>